@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #F1E0C5; /* Cor neutra, inspirada em tela de pintura */
    --primary-color: #1B263B; /* Azul escuro, como tinta azul */
    --secondary-color: #E94560; /* Vermelho vibrante, inspirado em pigmento vermelho */
    --accent-color: #F5A623; /* Laranja vibrante, como tinta amarela */
    --font: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    color: var(--bg-color);
}

h1 {
    font-size: 2.5rem;
    color: var(--bg-color);
    font-weight: 700;
    margin: 0.5rem 0;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
    background-color: var(--accent-color);
    padding: 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    margin: 0 1.5rem;
    font-size: 1.2rem;
}

nav a:hover {
    color: var(--secondary-color);
    transform: scale(1.05);
    transition: color 0.2s, transform 0.1s;
}

.grafico {
    margin-top: 2rem;
}

.graficos-container {
    margin: 4rem auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 80%;
}

.graficos-container__texto {
    font-size: 1.3rem;
    text-align: center;
    padding: 1.5rem;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

span {
    font-weight: bold;
    color: var(--accent-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--bg-color);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    font-weight: 600;
}
